.image {
    height: 300px;
}

.small_image{
    width: 300px;
}

form {
    display: inline-block;
}

.artist {
    font-size: large;
}

.tracks {
    text-align: left;
}

.first_row {
    background-color: rgba(150, 212, 212, 0.4);
}
