{% extends "layout.html" %}

{% block title %}
    Now Playing
{% endblock %}
{% block main %}
    <form id="form" class="form">
        <table class="table table-bordered border-primary">
            <thead>
                <th> {{contents.artists[0].name}} </th>
                <th> {{contents["title"]}} </th>
            </thead>
            <tr>
                <td> <img class="image" src={{ contents["cover_image"] }} /> </td>
                <td class="tracks">
                    {% for tracks in tracklist %}
                        <p> {{ tracks["position"]}} {{tracks["title"]}} {{tracks["duration"]}} </p>
                    {% endfor %}
                </td>
            </tr>
            <tr>
                <td> {{contents.master_id}}, {{contents.id}} </td>
                <td>
                    {% for description in contents.formats[0].descriptions %}
                        {{ description }},
                    {% endfor %}
                </td>
            </tr>
            <tr>
                <td>{{contents.labels[0].name}} </td>
                <td>
                    {% for genre in contents.genres %}
                        {{genre}},
                    {% endfor %}
                </td>
            </tr>
        </table>
    </form>
{% endblock %}
